.theme-switcher {
  @include flex-center;
  gap: var(--space-1);
  background-color: var(--bg-surface);
  border: 1px solid color-mix(in srgb, var(--text-primary) 10%, transparent);
  border-radius: var(--radius-full);
  padding: var(--space-1) var(--space-2);

  @media (max-width: 400px) {
    transform: scale(0.9);
  }

  &__btn {
    font-size: var(--text-sm);
    padding: 2px var(--space-2);
    border-radius: var(--radius-full);
    color: var(--text-primary);
    background: none;
    border: none;
    cursor: pointer;
    transition: var(--transition-base);

    &--active {
      background: var(--accent-primary);

      &:hover {
        background: var(--accent-primary-light);
      }
    }

    &:hover:not(&--active) {
      background: var(--accent-primary-light);
    }
  }

  &__divider {
    font-size: var(--text-sm);
    user-select: none;
  }
}
